body{
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
	cursor: default !important;
	font-family: Tahoma;
	font-size: 12px;
	overflow: hidden;
	background: #c0c0c0;
}
svg{
	top:0px !important;
	left:0px !important;
	position: absolute !important;
}
.cantselect-text{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.element-definition{
	position: static;
	z-index: 999999;
}
#splash{
	font-size: 14px;
	margin: 20px;
	text-align: center;
}
#splash{
	height: 100%;
}
#appcontainer, #twitter-orig, #fb-like-orig, #element-definitions{
	left: -20000px;
	position: absolute;
}
.fb-like{
	width: 50px;
}
#gplus-container{
	top: 2px;
	position: relative;
}
#share-buttons{
	text-align: center;
}
#share-buttons div{
	overflow: hidden;
	padding: 5px;
	display: inline-block;
}
::-moz-selection{
	background:none;
}
::selection{
	background:none;
}
hr{
	border:none; 
	border-top: 1px solid #aaa;
}
.guide{
	position:absolute;
	z-index: 999999;
	border:1px dashed #0073ea;
}
.boxdiv{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
#menu{
	width:100%;
}
#workspace{
	position:absolute;
	bottom:0px;
	top:42px;
	right:0px;
	left:200px;
	z-index:-1;	
}
#workspace-area{
	position: absolute;
	top:40px;
	bottom: 0px;
	left:0px;
	right:0px;
	overflow:auto;
	z-index: 3;
}
#workspace-tabs{
	position: absolute;
	text-align: center;
	font-size: 14px;
	top: 0px;
	width: 100%;
	height: 35px;
	padding: 10px;
	-webkit-transition: top 0.3s ease-out;
	-moz-transition: top 0.3s ease-out;
	-o-transition: top 0.3s ease-out;
	transition: top 0.3s ease-out;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	background-color: #f7f7f7;
	border-bottom: 1px solid #EBEBEB;
}
.panelGroup{
	position:absolute; 
	top:42px;
	bottom:0px;
	width:200px;
}
#leftPanels{
	left: 0px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: #ffffff;
	-webkit-transition: left 0.3s ease-out;
	-moz-transition: left 0.3s ease-out;
	-o-transition: left 0.3s ease-out;
	transition: left 0.3s ease-out;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	z-index: 2;
}
#elements{
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
}
.vlist{
	width:100%;
	height:50px;
	padding:5px
}
.current-page{
	background:#fff;				
	margin: 15px;
	margin-right: 30px;
	margin-bottom: 30px;
	position: relative;
	left: 10px;
	top: 10px;
}
.current-page.preview{
	-webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);				
}
.hasgrid{
	background-image: url(../img/grid.png);
	background-repeat: repeat-x repeat-y;
	background-position: top left;
}
.ui-icon{
	background-image: none;
}
.m-tooltip{
	background-color: #ffffff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 3px 8px;
	color: #000000;
	text-align: center;
	text-decoration: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	position:absolute;				
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	opacity: 0;
	filter: alpha(opacity=0);
	visibility: visible;
}
.m-tooltip.in {
	opacity: 0.8;
	filter: alpha(opacity=80);
}			
.m-tooltip.fade {
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
	-moz-transition: opacity 0.15s linear;
	-o-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}
.m-tooltip.fade.in {
	opacity: 1;
}
.resize-handle{
	position: absolute;
	width: 7px;
	height: 7px;
	background: #ccc;
}
#resize-handle-tl{
	top:-7px;
	left: -7px;
}
#resize-handle-tr{
	top:-7px;
	right:-7px;
}
#resize-handle-bl{
	bottom: -7px;
	left: -7px;
}
#resize-handle-br{
	bottom: -7px;
	right: -7px;
}
.insertable-tab{				
	position: absolute;
	top:75px;
	bottom: 0px;
	left:0px;
	width:200px;
	overflow: auto;
	padding: 5px;
}
#element-library-search{
	padding: 5px 3px;
	height: 40px;
}
#element-library-search-input{
	width: 180px;
}
.element-library-item{
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #dddddd;
	padding: 5px;
	z-index: 999;
}
.ui-state-disabled{
	opacity: 1;
}
.element{
	position: absolute;
	display: block;
	overflow:hidden;
}
.selected, #element-resizer{
	cursor: move;
	-moz-box-shadow: inset 0 0 0px 2px #0073ea;
	-webkit-box-shadow: inset 0 0 0px 2px #0073ea;
	box-shadow: inset 0 0 0px 2px #0073ea;
}
.selected{
	-moz-box-shadow: inset 0 0 0px 1px #0073ea;
	-webkit-box-shadow: inset 0 0 0px 1px #0073ea;
	box-shadow: inset 0 0 0px 1px #0073ea;
}
.showingprops{
	cursor: default !important;
	-moz-box-shadow: inset 0 0 0px 1px #0073ea !important;
	-webkit-box-shadow: inset 0 0 0px 1px #0073ea !important;
	box-shadow: inset 0 0 0px 1px #0073ea !important;
}
.selection-box {
	position: absolute;
	background: #0073ea;
	opacity: 0.5;
	border: 2px solid #0073ea;
	z-index: 999999;
}
.element-caption{
	overflow: hidden;
}
.modalParagraph{
	font-size: 14px;
	text-align: center;
	margin-bottom: 25px !important;
}
/* Spinner CSS */
.ui-spinner {position: relative; border: 0px solid white; }
.ui-spinner-buttons {position: absolute}
.ui-spinner-button {overflow: hidden}
/*Scroller CSS*/
.scroll-content {position:absolute;top:0;left:0;padding-right:0px;}
#elements .scroll-content {width: 100%;}
#tab-elements-all .wslider-wrap{display: none}
#iconpicker-icons{position:relative;}
.hslider-wrap{position:absolute;right:0;top:0;background-color:none;width:10px;}
.hslider-wrap .ui-widget-content{background: none; border: none;}
.slider-vertical{position:relative;height:100%; width:100%;}
.wslider-wrap{position:absolute;left:0;bottom:0;background-color:none;height:10px;}
.wslider-wrap .ui-widget-content{background: none; border: none;}
.slider-horizontal{position:relative;width:100%; height:100%;}
.ui-slider-handle{background-color:#3a3a3a;margin:0 auto;display:block;position:absolute;}
.hslider-wrap .ui-slider-handle{width:100%}
.wslider-wrap .ui-slider-handle{height:100%}
.ui-slider-handle img{border:none}

.tbs .popover-content .form-horizontal .control-group{
	margin-bottom: 5px;
}
.tbs .popover-content .form-horizontal .control-label{
	width: 50px;
	font-size: 12px;
}
.tbs .popover-content .form-horizontal .controls{
	margin-left: 60px;
}
.tbs .help-inline{
	min-width: 200px;
}